
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Darker+Grotesque:wght@500;600;900&display=swap');

* {box-sizing: border-box;}
html {
  scroll-behavior: smooth;
}
body {
  margin:0;
  background-color:white;
  font-size:24px;
  font-family: 'Dangrek', sans-serif;
}

body.subpage {
  background-image: url('');
  background-repeat: repeat;
}

h1 {
  color:black; 
  font-family: 'Dangrek', sans-serif;
  font-size:96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: #FF7F00; 
  font-family: 'Dangrek', sans-serif;
  font-size:36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  color: #FF7F00; 
  font-family: 'Brandon Grotesque', bold;
  font-size:24px;
  display: flex;
}

.top {
  font-family: 'Brandon Grotesque', bold;
  font-size:24px;
}

.bottom {
  font-family: 'Darker Grotesque';
  font-size: 14px;

}

h2 {
  margin:0;
}
img {
  width:100%;
}

a { text-decoration:none;}
a:hover {
  color:cornflowerblue;
}

main {
  /* margin-top:72px;  use only with position fixed */
  width: 100vw;
  /* height:100vh; */
}

nav {
  width:60%;
  margin:auto;
  background-color: #FF7F00;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.column {
  font-family: 'Darker Grotesque' ; 
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.lionpage nav {
  background-color: #C98C35;
}

.lion-male {
  width: 296px;
  Height: 486px;
}

.lion-female {
  width: 204px;
  Height: 408px;
}

.lion-stats {
  width: 713px;
  height: 507px;
  margin left: 900px;
}


.flex-column {
  display: flex;
  flex-wrap:wrap;
}


.tigerpage nav {
  background-color: #FF7F00;
}

.leopardpage nav {
  background-color: #B8B8B8;
}

.jaguarpage nav {
  background-color: #F2C275;
}

nav ul { 
  list-style:none;
  display:flex;
  justify-content: space-between;
  align-items:end;
  margin:0;
}
nav li {
  padding:30px 30px;

  
}
nav li a {
  padding:10px 0 4px 0; /* the 3rd value is for padding bottom */
  color: black;
}
nav li a:hover {
  color:white;
  border-bottom: 3px solid white;
}
/* Homepage cat hover */
.navigation {
  display: flex;
  padding-bottom:80px;
}
.navigation div {
  flex: 1; 
  text-align: center;
}
.cat-hover {
  display: none;
}

.border {
  border: 1px solid black;
}

.flexbox {
  display:flex;
  width:95%;
  margin:auto;
  margin-top:60px;
  flex-wrap:wrap;
}
.flexbox section {
  flex:1;
}

.lionpage .flexbox div {
  flex:50%;
}

.lion-img {
  width:292px;
  height: 479px;
}
.jaguar-img {
  width: 673px;
  Height: 284px;
}

.tiger-img {
  width: 586px;
  height: 284px;
}
 
.leopard-img {
  width: 370px;
  Height: 321px;
}

.glance {
  display:flex;
  position:relative;
  border: 1px solid #FF7F00;
  width:60%;
  /* margin values are top right bottom left */
  margin:140px auto 80px auto;
}
.glance div {
  flex:1;
  padding: 30px 20px
}

.glance h2 {
  position:absolute;
  background-color:#FF7F00;
  color:white;
  padding:8px 6px;
}
.glance h2.top {
  top:0px;
  left:-1;
}
.lionpage .glance h2.bottom {
  bottom: -73px;
  left: -1px;
}
.lionpage .glance h2 { 
  background-color:#C98C35;
}

footer a {
  color: white;
}

body.subpage01 footer a {
  color: #fff;
}
footer {
  background-color:#FF7F00;
  padding:30px 60px;
  /* position:fixed; */
  bottom:0;
  left:0;
  right:0;
}
.lionpage footer{
  background-color:#C98C35;
}

.tigerpage footer {
  background-color: #FF7F00;
}

.leopardpage footer {
  background-color: #B8B8B8;
}
.jaguarpage footer{
  background-color: #F2C275;
}

.jaguar-img {
  width: 819px;
  Height: 347px;
  margin-top: 500px;
  padding-left: 50px;
}

.jag-glance {
  width: 483px;
  height: 552px;
  margin-top: 350px;
  padding-right: -100px;
}

.row {
  display: flex;
}

.column {
  flex: 70%;
}

.jaguar {
  position: absolute;
  width: 447px;
  height: 114px;
  top: 143px;
  left: 497px;
  font-family: 'Dangrek', sans-serif;
  color: black;
  font-size: 128px;
  letter-spacing: 10.24px;
  text-align: center;
  white-space: nowrap;
}





.tiger-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tiger-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 2306px;
  position: relative;
}

.tiger-page .overlap-group {
  position: absolute;
  width: 1359px;
  height: 970px;
  top: 970;
  left: 43px
}

.tiger-page .tiger-grid {
  position: absolute;
  width: 1353px;
  height: 924px;
  top: 970;
  left: 43;
}


.tiger-page .tiger {
  position: absolute;
  width: 447px;
  height: 114px;
  top: 143px;
  left: 497px;
  font-family: 'Dangrek', sans-serif;
  color: black;
  font-size: 128px;
  letter-spacing: 10.24px;
  text-align: center;
  white-space: nowrap;
}

.tiger-page .the-tiger {
  position: absolute;
  width: 631px;
  top: 69px;
  left: 729px;
  font-family: 'Darker Grotesque';
  font-size: 24px;
  color: black;
  letter-spacing: 1.92px;
}

.tiger-page .text-wrapper {
  position: absolute;
  width: 628px;
  height: 297;
  top: 537px;
  left: 0;
  font-family: 'Darker Grotesque';
  font-size: 24px;
  color: black;
  letter-spacing: 1.92px;
}

.tiger-page .p {
  position: absolute;
  width: 610px;
  height: 330px;
  top: 537px;
  left: 727px;
  font-family: 'Darker Grotesque';
  font-size: 24px;
  color: black;
}


.tiger-page .height {
  position: absolute;
  width: 597px;
  top: 0px;
  left: 697px;
  font-family: 'Brandon Grotesque', bold;
  font-size: 24px;
  color: black;
}

.tiger-page .span {
  font-weight: 900;
}

.tiger-page .textwrapper-2 {
  font-weight: 600;
  font-family: 'Darker Grotesque';
}

.tiger-page .rectangle {
  background-color: #FF7F00;
  position: absolute;
  width: 190px;
  height: 50px;
  top: 0;
  left: 0;
}

.tiger-page .details {
  position: absolute;
  width: 156px;
  height: 34px;
  top: 7px;
  left: 17px;
  font-family: 'Brandon Grotesque', bold;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 1.92px;
}

.tiger-page .rectangle-2 {
  background-color: #FF7F00;
  position: absolute;
  width: 228px;
  height: 50px;
  top: 0;
  left: 683px;
}

.tiger-page .rectangle-3 {
  background-color: #FF7F00;
  position: absolute;
  width: 228px;
  height: 50px;
  top: 460px;
  left: 0;
}

.tiger-page .rectangle-4 {
  background-color: #FF7F00;
  position: absolute;
  width: 328px;
  height: 50px;
  top: 460px;
  left: 683px;
}

.tiger-page .rectangle-5 {
  position: absolute;
  background-color: #ff7f00;
  width: 388px;
  height: 50x;
  top: 920;
  left: 0;
}

.tiger-page .appearance {
  position: absolute;
  width: 201px;
  height: 34px;
  top: 7px;
  left: 697px;
  font-family: 'Brandon Grotesque', bold;
  font-size: 24px;
  color: white;
  letter-spacing: 1.92px;
}

.tiger-page .temperament {
  position: absolute;
  width: 201px;
  height: 34px;
  top: 467px;
  left: 13px;
  font-family: 'Brandon Grotesque', bold;
  font-size: 24px;
  color: white;
  letter-spacing: 1.92px;
}

.tiger-page .care-maintenance {
  position: absolute;
  width: 304px;
  height: 34px;
  top: 467px;
  left: 695px;
  font-family: 'Brandon Grotesque', bold;
  font-size: 24px;
  color: white;
  letter-spacing: 1.92px;
}

.tiger-page .special {
  position: absolute;
  width: 366px;
  height: 34px;
  top: 927px;
  left: 11px;
  font-family: 'Brandon Grotesque', bold;
  font-size: 24px;
  color: white;letter-spacing: 1.92px;

}


.tiger-page .due-to {
  position: absolute;
  width: 1190px;
  height: 198x;
  top: 1961px;
  left: 43px;
  font-family: 'Darker Grotesque';
  font-size: 24px;
  color: black;
}

.tiger-page .tiger-glance {
  position: absolute;
  width: 483px;
  height: 552px;
  top: 340px;
  left: 910px;
  object-fit: cover;
}

.tiger-page .tiger-2 {
  position: absolute;
  width: 756px;
  height: 367px;
  top: 414px;
  left: 64px;
  object-fit: cover;
}

.tiger-page .rectangle-6 {
  position: absolute;
  background-color: #FF7F00;
  width: 1442px;
  height: 101px;
  top: 2205px;
  left: 0px;
  object-fit: cover;
}

